-
  const workCards = [
    {
      number: '1',
      title: 'Understanding Your Needs', 
      description: 'We start by thoroughly understanding your requirements, goals, and expectations. This stage involves in-depth consultations where we pay special attention to your business model and how the software solution can enhance your business.'
    },
    {
      number: '2',
      title: 'Planning and Strategy', 
      description: 'Based on the gathered information, we develop a strategy and project plan. At this point, we define key milestones, budget, and timelines.'
    },
    {
      number: '3',
      title: 'Design and Development', 
      description: 'Our team begins working on the design and development of your software solution. We create prototypes and layouts for your input and feedback.'
    },
    {
      number: '4',
      title: 'Testing and Debugging', 
      description: 'After development is complete, we conduct rigorous testing to ensure the quality and reliability of your software. We address any identified issues and discrepancies.'
    },
    {
      number: '5',
      title: 'Deployment and Implementation', 
      description: 'After successful testing, we deploy the software on live servers and ensure its implementation within your company.'
    },
    {
      number: '6',
      title: 'Long-Term Collaboration', 
      description: 'Our team is prepared to support you on a long-term basis, providing updates, enhancements, and ongoing technical support to ensure the continued success of your software solution.'
    },
  ]

section(data-color="white" id="howWeWork").howWeWork.colorSection
  h1.h1.howWeWork__title._anim-items._anim-no-hide How we work
  each workCard in workCards
    .howWeWork__card
      .howWeWork__card_number
        span.text_3= workCard.number
      h3.h2.howWeWork__card_title= workCard.title
      p.howWeWork__card_description= workCard.description
  
  .howWeWork__cards_swiper
    .swiper-wrapper
      each workCard in workCards
        .swiper-slide._anim-items._anim-no-hide
          .howWeWork__card
            .howWeWork__card_number
              span.text_3= workCard.number
            h3.h2.howWeWork__card_title= workCard.title
            p.howWeWork__card_description= workCard.description
    .howWeWork__cards_navigation
      .swiper-button-prev.howWeWork-button-prev
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <g clip-path="url(#clip0_1_3106)">
            <path d="M20.25 12H3.75" stroke="#23221F" stroke-width="1.5"/>
            <path d="M10.5 5.25L3.75 12L10.5 18.75" stroke="#23221F" stroke-width="1.5"/>
          </g>
          <defs>
            <clipPath id="clip0_1_3106">
              <rect width="24" height="24" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      .swiper-pagination.howWeWork-pagination
      .swiper-button-next.howWeWork-button-next
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <g clip-path="url(#clip0_1_3118)">
            <path d="M3.75 12H20.25" stroke="#23221F" stroke-width="1.5"/>
            <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#23221F" stroke-width="1.5"/>
          </g>
          <defs>
            <clipPath id="clip0_1_3118">
              <rect width="24" height="24" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      
