-
    const linksHeader = [
        // {
        //   name: 'About',
        //   url: 'about.html'
        // },
        {
            name: 'Solutions',
            url: 'solutions.html'
        },
        {
            name: 'Why ApolloRise Tech',
            url: 'why.html'
        },
        {
            name: 'Careers',
            url: 'career.html'
        },
    ]

    const linksFooter = [
        // {
        //   name: 'About',
        //   url: 'about.html'
        // },
        {
            name: 'Solutions',
            url: 'solutions.html'
        },
        {
            name: 'Why ApolloRise Tech',
            url: 'why.html'
        },
        {
            name: 'Careers',
            url: 'career.html'
        },
    ]

html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="mobile-web-app-capable" content="yes")

        <!-- Status bar styles -->
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        meta(name="theme-color" content="#FCFBF8")

        <!-- Title -->
        meta(name="title" content="Privacy Policy | ApolloRise Tech")
        meta(name="description" content="Learn how ApolloRise Tech collects, uses, and protects your personal information. Review our privacy practices and your rights.")
        meta(name="keywords" content="privacy policy, ApolloRise Tech, personal information, data protection, AI-driven procurement, cookies policy")
        meta(name="robots" content="index, follow")
        meta(name="author" content="ApolloRise Tech")

        <!-- Open Graph -->
        meta(property="og:type" content="website")
        meta(property="og:title" content="Privacy Policy | ApolloRise Tech")
        meta(property="og:description" content="Learn how ApolloRise Tech collects, uses, and protects your personal information. Review our privacy practices and your rights.")
        meta(property="og:url" content="https://apollorise.tech/")
        meta(property="og:image" content="https://apollorise.tech/sources/images/picture_1.png")
        meta(property="og:site_name" content="apollorise.tech")

        link(rel='stylesheet', href='../../sources/fonts/fonts.css')

        <!-- Favicons -->
        link(rel="icon" type="image/png" href=require('../../sources/images/favicon.png'))
        link(rel="shortcut icon" href=require('../../sources/images/favicon.ico'))

        link(rel="apple-touch-icon" sizes="76x76" href=require('../../sources/images/apple-touch-icon-76x76.png'))
        link(rel="apple-touch-icon" sizes="120x120" href=require('../../sources/images/apple-touch-icon-120x120.png'))
        link(rel="apple-touch-icon" sizes="152x152" href=require('../../sources/images/apple-touch-icon-152x152.png'))
        link(rel="apple-touch-icon" sizes="180x180" href=require('../../sources/images/apple-touch-icon-180x180.png'))

        //- Google Tag Manager
        script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-PXHCM38Q');
        //- End Google Tag Manager
    body

        //-Google Tag Manager (noscript) -->
        iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-PXHCM38Q" height="0" width="0" style="display:none;visibility:hidden")
        //-  End Google Tag Manager (noscript)

        include ../../components/header/header
        +header({ linksHeader: linksHeader, contactUs: '#contactUs' })
        main
            .privacy-policy
                h1.h1 Privacy Policy
                p.text_4 Last updated March 04, 2025

                h3.h3 Commitment to Privacy
                p.text_4.
                    At ApolloRise Tech ("we", "us", or "our"), we value your privacy. This policy outlines our practices regarding the collection, use, and disclosure of personal information both offline and online, including through our website #[a(href="https://apollorise.tech") https://apollorise.tech], emails, marketing communications, and other interactions.

                h3.h3 Consent and Policy Review
                p.text_4.
                    By providing personal information to ApolloRise Tech, whether online or offline, you consent to the collection, use, and disclosure of that information as described in this policy. Please review this policy periodically for updates. Your continued engagement with ApolloRise Tech following any changes to this policy indicates your acceptance of those changes.

                h3.h3 Use of Personal Information
                p.text_4.
                    We will utilize personal information in accordance with this policy. This includes using such information for the purposes explicitly stated when it is collected. ApolloRise Tech is committed to making full use of non-personally identifiable information, including de-identified, aggregated data, which does not reveal your identity. Your rights and choices regarding your personal information, including how to access, update, and manage your information, will be detailed on the website and in subsequent communications. We are dedicated to maintaining the confidentiality and security of your personal information and implementing appropriate measures to safeguard it.

                h3.h3 Collection and Use of Personal Information
                p.text_4.
                    ApolloRise Tech gathers personal information that you voluntarily provide, such as your name, address, email, and company name. This information is utilized to deliver and enhance our Website, offer the products and services you request, improve our offerings, and communicate with you about your business needs.

                h3.h3 Internet and Network Activity Data
                p.text_4.
                    We collect certain data related to your internet and network activity, including domain and IP address, cookies, usage data, browser type, API calls, tokens used, product and service reviews you provide, and your operating system. This information is gathered from your computer or mobile device when you access our website or use our products and services. It is used exclusively for internal analysis to enhance our website, monitor server performance, and manage website administration.

                h3.h3 Service-Related Personal Information
                p.text_4.
                    In the course of providing professional services, we may collect personal information from you, including identifiers like your name, address, email address, financial information, or other personal details shared during our professional interactions.

                h3.h3 Disclosure of Your Information
                p.text_4.
                    Your personal information, internet/network activity, and service-related information may be disclosed in the following circumstances:
                p.text_4.
                    To consultants, service providers, and contractors who assist in our business operations (such as website hosting, data collection, reporting, ad response measurement, analytics, data analysis, marketing, credit card processing, and fraud detection). These parties are bound by confidentiality agreements and use the information solely to provide the specified services.
                p.text_4.
                    To our parent company and corporate affiliates for purposes aligned with this Privacy Policy.
                p.text_4.
                    In the context of a business transaction such as a merger, acquisition, financing, bankruptcy, or other similar proceedings, including negotiations of such deals.
                p.text_4.
                    To an acquirer or successor entity in the event of a reorganization, merger, sale, consolidation, joint venture, assignment, transfer, or other disposition of all or part of ApolloRise Tech or its affiliates, including any related negotiations.

                h3.h3 Third-Party Advertising and Analytics Policy
                p.text_4.
                    At ApolloRise Tech, we are committed to maintaining transparency about the use of third-party advertising and analytics on our website. This policy statement outlines our practices and your choices regarding these services.

                h3.h3 Engagement with Third-Party Advertising Services
                p.text_4.
                    We may collaborate with third-party advertising services to present advertisements on our site or manage our advertising on other platforms. These entities might use tracking technologies like cookies and pixel tags to gather information about your activities on our website and others.

                h3.h3 Collection and Use of Data by Third Parties
                p.text_4.
                    For insights into web traffic and user behavior, we employ third-party analytics providers. They may use various technologies to collect data on your use of our website and others, assisting us in enhancing user experience and website functionality.

                h3.h3 Choice to Opt-Out
                p.text_4.
                    You have the option to opt out of data usage by these third-party analytics and advertising companies. Opting out can usually be done through their respective websites, although it will not stop advertising on our site but will prevent targeted advertisements based on your browsing behavior.

                h3.h3 Links to Third-Party Sites
                p.text_4.
                    Our website may contain links to external sites, and we advise you to review their privacy policies as we are not responsible for their content or privacy practices.

                h3.h3 Policy Updates
                p.text_4.
                    We reserve the right to modify this policy and will notify users of significant changes by updating it on our website.

                h3.h3 Inquiries and Concerns
                p.text_4.
                    For any queries or concerns about this policy or our handling of data related to third-party advertising and analytics, please reach out to us through our website’s contact information or email us at #[a(href="mailto:info@apollorise.tech") info@apollorise.tech].

                h3.h3 Digital Advertising Alliance
                p.text_4.
                    You can also opt out from companies like Google, Instagram, Facebook and other participating companies through the Digital Advertising Alliance in the USA: #[a(href="http://www.aboutads.info/choices/") http://www.aboutads.info/choices/]. You can also opt out of participating companies from the Digital Advertising Alliance of Canada in Canada: #[a(href="http://youradchoices.ca/") http://youradchoices.ca/] or the European Interactive Digital Advertising Alliance in Europe: #[a(href="http://www.youronlinechoices.eu/") http://www.youronlinechoices.eu/], or opt out using your mobile device settings.

                h3.h3 Use of Cookies and Other Technologies
                p.text_4.
                    ApolloRise Tech employs various technologies, including cookies, web beacons, pixels, and navigational and location data collection methods (such as clickstream, log files, and server logs), to passively collect information as you interact with our websites. This collection is in line with the purposes described in our Privacy Policy. These technologies aid in tracking your interactions with our website, allowing us to customize your experience through personalized offers, advertisements, and settings for language and location preferences.
                p.text_4.
                    Most web browsers are configured to accept cookies by default but typically offer you the ability to restrict or receive warnings about cookie usage. Please note, disabling cookies may limit your ability to fully experience the customized features provided by our website.
                p.text_4.
                    For more comprehensive information about cookies, we recommend visiting #[a(href="http://www.allaboutcookies.org") www.allaboutcookies.org].

                h3.h3 Links to Third-Party Websites
                p.text_4.
                    Our website may feature links to external websites operated by third parties. Please be aware that ApolloRise Tech is not responsible for the content or privacy practices of these third-party websites. Your engagement with these sites, including any personal information you provide to them, is subject to their respective privacy policies and is at your own risk. We encourage you to review the privacy policies of any third-party websites you visit.

                h3.h3 Intended Audience of Website; COPPA Compliance
                p.text_4.
                    We are in compliance with the requirements of the Children's Online Privacy Protection Act (“COPPA”). We do not knowingly collect information from minors in the United States or elsewhere with or without the consent of their parents or guardians. If you are not 16 or older, you should not visit or use our website or social media accounts. If you become aware that a child has provided us with personal information without appropriate consent, then please contact us using the details below so that we can take the appropriate steps in accordance with our legal obligations and this Policy.

                h3.h3 Retention of Personal Information
                p.text_4.
                    In accordance with the purposes outlined in this Policy, ApolloRise Tech will maintain your personal information, gathered through both offline and online means, for the necessary duration. Our retention of your personal information extends to fulfilling legal obligations, such as compliance with applicable laws that mandate data retention, as well as for resolving disputes and enforcing our legal agreements and policies.
                p.text_4.
                    Usage data, collected for internal analytical purposes, is typically kept for a shorter period unless it is required for enhancing security, augmenting the functionality of our Services, or if legal obligations necessitate longer retention.

                h3.h3 Managing Communication Preferences and Opting Out
                p.text_4.
                    ApolloRise Tech is committed to communicating with you in ways that you find beneficial. If you decide that you no longer wish to receive email marketing communications from us, you have the option to opt out. This can be done by utilizing the unsubscribe feature provided in our communications, such as clicking the “unsubscribe” link in our emails. These communications may include details about our products, services, or promotions.
                p.text_4.
                    Please be aware that opting out of promotional communications does not preclude ApolloRise Tech from contacting you for other essential reasons, such as order confirmations or responding to customer service inquiries.

                h3.h3 Protection of Your Information
                p.text_4.
                    ApolloRise Tech is dedicated to safeguarding the personal information you entrust to us through your use of our website. We implement reasonable physical, electronic, and procedural measures to protect your personal information. If you do not agree with this Policy, please refrain from using our website or providing any personal information.
                p.text_4.
                    Nevertheless, it is important to acknowledge that no security system is entirely infallible or impenetrable, and the transmission of information over the internet cannot be guaranteed as completely secure. While we endeavor to protect your personal information in line with this Policy, we cannot be held liable for its disclosure due to transmission errors or unauthorized security breaches. Should you believe that your interactions with us have become insecure, we urge you to immediately contact us as specified in the “Contact Information” section of this Policy.

                h3.h3 Revisions to the Privacy Policy
                p.text_4.
                    ApolloRise Tech reserves the right to amend this Privacy Policy periodically without prior notice, by updating and revising it on our website. Material changes to the policy will be communicated by updating the effective or last edited date of the Privacy Policy. These changes become effective immediately upon posting. We encourage regular review of this Policy to stay informed about our current privacy practices. Your continued use of the website following such updates signifies your acceptance of the revised terms.

                h3.h3 Governing Law
                p.text_4.
                    This Privacy Policy and the privacy practices of ApolloRise Tech are governed exclusively by the laws of the State of Florida, United States of America. ApolloRise Tech does not claim that this Policy and its associated practices are in compliance with the laws of any jurisdiction other than Florida.

                h3.h3 Contact Information
                p.text_4.
                    For any questions, suggestions, or additional information regarding our Privacy Policy, or to inquire about the Business Information we maintain, please contact us at #[a(href="mailto:info@apollorise.tech") info@apollorise.tech]. We are committed to addressing your privacy-related concerns and providing clarity about the data we handle.
        include ../../components/footer/footer
        +footer({ linksFooter: linksFooter, contactUs: '#contactUs' })
