mixin citation({citation})
  .citation._anim-items._anim-no-hide
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
      <path d="M29.3217 33.6566C26.7251 33.6566 24.8117 32.7683 23.5817 30.9916C22.3517 29.1466 21.7367 27.0283 21.7367 24.6366C21.7367 20.2633 23.3767 16.3341 26.6567 12.8491C30.0051 9.36414 33.5584 7.24581 37.3167 6.49414L38.2392 10.5941C35.2326 11.0041 32.5676 12.3025 30.2442 14.4891C27.9892 16.6075 26.5884 19.1016 26.0417 21.9716C27.2034 20.6733 28.8092 20.0241 30.8592 20.0241C32.7042 20.0241 34.2076 20.6391 35.3692 21.8691C36.5309 23.0308 37.1117 24.5 37.1117 26.2766C37.1117 28.395 36.3601 30.1716 34.8567 31.6066C33.3534 32.9733 31.5084 33.6566 29.3217 33.6566ZM9.84672 33.6566C7.52339 33.6566 5.67839 32.8366 4.31172 31.1966C2.94505 29.5566 2.26172 27.37 2.26172 24.6366C2.26172 20.605 3.79922 16.7783 6.87422 13.1566C10.0176 9.53497 13.6734 7.31414 17.8417 6.49414L18.7642 10.5941C15.7576 11.0041 13.0926 12.3025 10.7692 14.4891C8.51422 16.6075 7.11339 19.1016 6.56672 21.9716C7.72839 20.6733 9.33422 20.0241 11.3842 20.0241C13.2292 20.0241 14.7326 20.605 15.8942 21.7666C17.0559 22.9283 17.6367 24.4316 17.6367 26.2766C17.6367 28.3266 16.8851 30.0691 15.3817 31.5041C13.8784 32.9391 12.0334 33.6566 9.84672 33.6566Z" fill="#FEEBA9"/>
    </svg>
    .citation__content 
      each text in citation.content
        p.text_4= text
    .citation__writerWrapper 
      .citation__writer
        .citation__writerImage 
          img(src=citation.writer.photo alt="writer")
        .citation__writerName 
          p.text_4= citation.writer.name
          p.text_5= citation.writer.position
      if(citation.writer.companyLogo)
        .citation__writerCompanyLogo!= citation.writer.companyLogo
        
        

